
    <div class="col-6 col-md-3 product-col" data-title="{{ lower .Title }}">
        <div class="product-card h-100 d-flex flex-column">
            <a href="{{ .Permalink }}" class="img-wrap">
                <img src="{{ .Params.image }}" loading="lazy" alt="{{ .Title }}">
            </a>
            <div class="p-info d-flex flex-column flex-grow-1">
                <span class="p-cat">{{ index .Params.categories 0 }}</span>
                <h6 class="p-title">{{ .Title }}</h6>
                <div class="p-price">{{ .Params.price }} MAD</div>
                
                <div class="mt-auto">
                    <a href="{{ .Permalink }}" class="btn btn-sm btn-light w-100 mb-1 border">VOIR</a>
                    <button class="btn-add snipcart-add-item"
                        data-item-id="{{ .Params.sku }}"
                        data-item-price="{{ .Params.price }}"
                        data-item-url="{{ .Permalink }}"
                        data-item-name="{{ .Title }}"
                        data-item-image="{{ .Params.image }}"
                        data-item-description="Produit MECADO">
                        AJOUTER
                    </button>
                </div>
            </div>
        </div>
    </div>
    